:root {
	font-family: sans-serif;
	background-color: black;
	color: white;
}

article {
	display: flex;
	justify-content: center;
}
section {
}

form {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

form * {
	margin-bottom: 0.25rem;
}

canvas {
	border: 0.25px solid grey;
	margin-top: 2rem;
	max-width: 100%;
	padding: 1rem;
}

button {
	font-size: 1rem;
	width: 100px;
	margin-top: 0.5rem;
	padding: 10px;
	background-color: black;
	color: white;
	border: 1px solid white;
}
button:hover {
	background-color: blue;
}
button:active {
	background-color: white;
	color: black;
	border: 1px solid black;
}

input {
	width: 50px;
}

footer {
	display: flex;
	justify-content: center;
	height: 0;
}
footer p {
	font-size: 90%;
}

.back * {
	color: white;
	font-size: 150%;
	font-weight: 200;
	text-underline-offset: 5px;
	text-decoration-thickness: 1px;
	display: inline-block;
}
.back *:hover {
	text-decoration: overline;
	text-decoration-thickness: 1px;
}

#sketch {
	display: flex;
	flex-direction: column;
}

#sketch:last- {
	margin: 100px;
}

#options {
	display: flex;
	justify-content: space-between;
}

#buttons {
	display: flex;
	flex-direction: column;
}
