:root {
	font-family: sans-serif;
	background-color: black;
	color: white;
}

article {
	display: flex;
	justify-content: center;
}

form {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 100px;
}

form * {
	margin-bottom: 0.25rem;
}

button {
	font-size: 1rem;
	width: 100px;
	margin-top: 0.5rem;
	padding: 10px;
	background-color: black;
	color: white;
	border: 1px solid white;
}
button:hover {
	background-color: blue;
}
button:active {
	background-color: white;
	color: black;
	border: 1px solid black;
}

input {
	width: 50px;
	border: none;
}

main {
	margin-bottom: 100px;
}

footer {
	display: flex;
	justify-content: center;
	height: 0;
	margin-bottom: 50px;
}
footer p {
	font-size: 90%;
}

a:focus {
	background-color: blue;
	outline-offset: 0;
}

.back * {
	color: white;
	font-size: 150%;
	font-weight: 200;
	text-underline-offset: 5px;
	text-decoration-thickness: 1px;
	display: inline-block;
}
.back *:hover {
	text-decoration: overline;
	text-decoration-thickness: 1px;
}

#sketch {
	display: flex;
	flex-direction: column;
}

#options {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 100px;
}

#buttons {
	display: flex;
	gap: 5px;
	margin-bottom: 5px;
}

#contact {
	outline: none;
}
#contact:active {
	text-decoration: overline;
}

.menu {
	position: absolute;
	background-color: black;
	width: 100%;
	padding-left: 50px;
}

/* write out a media query for mobile to adjust the #options and #buttons */
@media (max-width: 800px) {
	form {
		gap: 20px;
	}
	#options {
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
	}
	#buttons {
		flex-direction: column;
		margin-bottom: 50px;
	}
}